@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');    

* {
    font-family: 'Rubik', sans-serif;
}

body {
    color: whitesmoke;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1486946255434-2466348c2166?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrap { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 1em;
}

        
#img-logo {
    display: block;  
    margin: auto;
    width: 5em;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text {
    margin-top: -0.5em;
}
.form {
    margin-top: 1.5em;
}
#survey {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(47, 79, 79, 0.5);
    border-radius: 5px;
    padding: 1.5em;
    justify-content: center;
}
.label-group {
    margin-top: 1em;
}
.field {
    margin-top: 0.5em;
    height: 2em;
    background-color: lightgray;
}
.field:focus {
    border: none;
    outline: 2px solid blue;
    background-color: white;
}
.span {
    font-size: smaller;
}
.button {
    background-color: blue;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 3.2em;
    margin-top: 2em;
}
.button:hover {
	box-shadow: 0px 0px 0px;
    padding-top: 5px;
    color: black;
}
.text-area {
    background-color: lightgray;
    min-height: 6em;
    resize: vertical;
    font-family: inherit;
    font-size: 16px;
    padding: 0.5em;
  }
.text-area:focus {
    border: none;
    outline: 2px solid blue;
    background-color: white;
}
/*desktop friendly*/
@media screen and (min-width: 760px) {
    #survey {
        max-width: 580px;
    }
    #img-logo {
        width: 6em;
    }
    body {
        font-size: larger;
    }

}

@media screen and (min-width: 1024px) {
    #survey {
        max-width: 840px;
    }
    #img-logo {
        width: 7em;
    }

}